html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.name-title {
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link:hover {
  color: #dc3545 !important;
}

h4 {
  font-size: 12px;
  transition: font-size 2s;
}

h4:hover {
  font-size: 15px;
}

.fading {
  font-size: 32px;
  transition: font-size 2s;
}

.fading:hover {
  font-size: 50px;
}

#blinky {
  width: 10px;
  height: 25px;
  margin-left: 5px;
  background-color: rgb(102, 99, 99);
  animation: blinky 1s infinite;
}

@keyframes blinky {
  from {
    background-color: rgb(102, 99, 99);
  }
  to {
    background-color: transparent;
  }
}

.main-pic {
  border-radius: 100%;
  padding: 5px;
  width: 250px;
} /* Some padding */

.main-pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  width: 350px;
}

.project {
  width: 100%;
  height: 100%;
  transition: width 2s;
  clip-path: polygon(100% 0%, 64% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.project:hover {
  width: 110%;
}

.tools span {
  border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 0.85em;
  color: #525f7f;
  width: 110%;
}

.linky {
  background: #747fe0;
  color: #fff;
}

.blink {
  font-size: 20px;
}

.anim1 {
  animation: mainpic 1.5s ease-out 0s alternate infinite none running;
}

@keyframes mainpic {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}

@media screen and (max-width: 750px) {
  .project {
    width: 100%;
    height: 100%;
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
}
